
.game {
    width: 100%;
    height: 100vh;
    display: flex;
}

.game .navbar {
    width: 20%;
    height: 100vh;
    background-color: #242424;
    color: white;
    text-align: center;
    font-size: 3.2vh;
}

.game .navbar h2 {
    cursor: pointer;
}

.game .nav-content {
    height: 80%;
    padding-top: 10%;
}

.game .navbar button {
    background-color: grey;
}

.game .navbar button:hover {
    background-color: rgb(109, 108, 108);
}

.game .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.game .navbar a:hover {
    color: orange;
    transition: 0.3s;
}

.game .navbar nav {
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.game .navbar ul {
    list-style: none;
    padding: 0;
}

.game .navbar li {
    margin-bottom: 3rem;  
}


.game .gameInterface {
    margin: 0 auto;
}

.game .gameInterface h1 {
    padding-top: 0rem;
}

.game .gameInterface {
    width: 80%;
    text-align: center;
    color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.game .gameInterface .game-info {
    display: inline-flex;
    flex-wrap: wrap;
}

.game .gameInterface .game-info p {
    margin: 0 100px 20px 100px;
}

.game .gameInterface .game-guess .guess-info{
    display: flex;
    height: 60vh;
    max-width: 80vw;
    justify-content: center;
}

.game .gameInterface .game-guess .guess-info img{
    object-fit: fill;
}

.game .gameInterface .game-guess .guess-info button{
    max-width: 4rem;
    height: auto;
    margin: 0 100px 0 100px;
}

.game .gameInterface .game-guess .guess-board {
    margin: 1rem;
}

.game .gameInterface .game-guess .the-guess {
    display: flex;
    justify-content: center;
}

.game .gameInterface .game-guess .the-guess > input, img {
    margin: 0 1rem 0 1rem;
}

.game .gameInterface .game-guess .the-guess input {
    height: 1.5rem;
    border: none;
    border-bottom: 2px solid #bebebe;
    padding-top: 1.5rem;
}

.game .gameInterface .game-guess .the-guess input[type=number] {
    -moz-appearance: textfield;
}

.game .gameInterface .game-guess .the-guess input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.game .gameInterface .game-guess .the-guess input:focus {
    outline: none;
}

.game .gameInterface .game-guess .the-guess p {
    padding-top: 1rem;
}

.game .gameInterface .game-guess .the-guess img{
    width: 4rem;
    height: 4rem;
}

.game .gameInterface button {
    max-width: 30rem;
    background-color: black;
}

.game .gameInterface button:hover {
    background-color: grey;
}


.rnc__notification-container--bottom-right .rnc__notification-title {
    font-size: 18px;
}

.rnc__notification-container--bottom-right .rnc__notification-message {
    font-size: 17px;
}

