@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans-Regular.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../fonts/NunitoSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    color: #909090;
    font-family: Merriweather, serif;
}

.app-login {
    margin-top: -5%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-weight: bold;
}

.app-form-login {
    font-family: NunitoSans, serif;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    height: fit-content;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.app-form-login .content {
    flex-direction: column;
}

.app-form-login .content-logins {
    display: flex;
    flex-direction: column;
}

.app-form-login .content label {
    margin-bottom: 0.5rem;
}

.app-form-login .content input {
    font-size: 15px;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 2px solid #bebebe;
}

.app-form-login .content input:focus {
    outline: none;
}

.app-form-login .content .passwd {
    width: 100%;
}

.app-form-login .content .passwd input {
    width: 99%;
}

.app-form-login .content .passwd span {
    position: absolute;
    cursor: pointer;
    margin-left: -2rem;
    margin-top: -1rem;
}

.app-form-login .content .passwd img {
    width: 30px;
    height: 30px;
}

.app-form-login .content a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.app-form-login .content .accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-form-login .content .accounts .connect-button {
    text-decoration: none;
    color: white;
    background-color: #242424;
    width: calc(100% - 2rem);
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
    text-align: center;
}


.app-form-login .content .accounts .connect-button:hover {
    background-color: #6e6e6e;
    transition: 0.2s;
}

.app-form-login .content .accounts .butSignUp {
    text-decoration: none;
    color: white;
    background-color: #242424;
    width: calc(100% - 2rem);
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
    text-align: center;
}

.app-form-login .content .accounts .butSignUp:hover {
    background-color: rgb(109, 108, 108);
    transition: 0.2s;
}

.rnc__notification-container--top-right .rnc__notification-title {
    font-size: 18px;
}

.rnc__notification-container--top-right .rnc__notification-message {
    font-size: 17px;
}
